.wrapper {
    text-align: center;
    display: flex;    
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255); 
    height: 100%;
}
.logo {
    height: 150px;
    margin-bottom: 2px;
    width: 150px;
}
.body {
    max-width: 230px;
    width: 100%;
}